.header {
  width: 100%;
  height: 60px;
  background-color: transparent;
  position: absolute;
}
@media screen and (max-width: 767px) {
  .header .header-list {
    display: none;
  }
}
.header .header__input {
  display: none;
}
.header .label {
  margin-left: 336px;
  fill: #fff;
}
.header .header__input:checked ~ .label > .label__button-opened {
  display: none;
}
.header .header__input ~ .label > .label__button-closed {
  display: none;
}
.header .header__input:checked ~ .label > .label__button-closed {
  display: block;
}
.header input[type=checkbox]:checked ~ .label-list {
  display: flex;
}

.main {
  padding-top: 50px;
  background-image: url(/images/background-1x-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .main {
    background-image: url(/images/background-2x-mobile.png);
  }
}
@media screen and (min-width: 768px) {
  .main {
    background-image: url(/images/background-1x-tablet.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .main {
    background-image: url(/images/background-2x-tablet.png);
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .main {
    background-image: url(/images/background-1x-d.png);
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-width: 1200px) and (min-resolution: 2dppx) {
  .main {
    background-image: url(/images/background-2x-d.png);
  }
}
.main .main-nav {
  display: block;
  padding-bottom: 150px;
}
.main .main-nav .main-title {
  font-family: getFont(Reem Kufi);
  font-weight: 400;
  font-size: 32px;
  color: #fff;
  margin: 0;
}
.main .main-nav .main-title-two {
  font-family: getFont(Roboto);
  font-weight: 600;
  font-size: 32px;
  color: #e396f6;
  margin: 0;
}
.main .main-nav .main__text {
  font-family: getFont(Roboto);
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  margin: 0;
  margin-top: 60px;
}
.main .main-nav .main__button {
  width: 168px;
  height: 44px;
  display: block;
  border: none;
  border-radius: 33px;
  background: #cfa7d9;
  font-family: getFont(Roboto);
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  margin: 0;
  margin-top: 60px;
}
.main .nav-about {
  padding-top: 30px;
  padding-bottom: 340px;
}
.main .nav-about .nav-about-title {
  font-family: getFont(Roboto);
  font-weight: 700;
  font-size: 36px;
  color: #c38cd1;
  margin: 0;
}
.main .nav-about .nav-about__text {
  font-family: getFont(Roboto);
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  margin: 0;
  margin-top: 40px;
}
.main .nav-prices {
  background: #fff;
  padding-top: 10px;
  padding-bottom: 50px;
}
.main .nav-prices .nav-prices-title {
  font-family: getFont(Reem Kufi);
  font-weight: 700;
  font-size: 36px;
  color: #000;
  margin-left: 130px;
  margin-bottom: 30px;
}
.main .nav-prices .nav-prices-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  list-style: none;
}
@media screen and (max-width: 1199px) {
  .main .nav-prices .nav-prices-list {
    flex-direction: column;
  }
}
.main .nav-prices .nav-prices-list__item {
  margin-bottom: 50px;
}
.main .nav-prices .nav-prices-list__item:last-of-type {
  margin-bottom: 0px;
}
.main .nav-prices .nav-prices__button {
  width: 107px;
  height: 49px;
  background: #cfa7d9;
  border: none;
  font-family: getFont(Roboto);
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  margin: 0;
}
.main .nav-reviews {
  padding-top: 10px;
  padding-bottom: 40px;
}
.main .nav-reviews .nav-reviews-title {
  font-family: getFont(Roboto);
  font-weight: 400;
  font-size: 36px;
  color: #fff;
  margin-left: 105px;
}
.main .nav-reviews .nav-reviews-list {
  width: 296px;
  height: 109px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0 auto;
  background-color: #e59af8;
}
.main .nav-reviews .nav-reviews-title-two {
  font-family: getFont(Reem Kufi);
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  margin-bottom: 10px;
}
.main .nav-reviews .nav-reviews__text {
  font-family: getFont(Roboto);
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  margin: 0;
}
.main .nav-contacts {
  background: #fff;
  padding-top: 10px;
  padding-bottom: 50px;
}
.main .nav-contacts .nav-contacts-title {
  font-family: getFont(Reem Kufi);
  font-weight: 700;
  font-size: 36px;
  color: #252020;
  margin-left: 82px;
}
.main .nav-contacts .nav-contacts-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.main .nav-contacts .nav-contacts__link {
  font-family: getFont(Roboto);
  font-weight: 400;
  font-size: 14px;
  color: #000;
  margin: 0;
}
.main .nav-contacts .nav-contacts__button {
  width: 132px;
  height: 32px;
  margin-left: 114px;
  display: block;
  border: none;
  border-radius: 44px;
  background: #c9b6de;
  font-family: getFont(Roboto);
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}

.footer {
  background-color: #F4D2FD;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer .foot {
  display: flex;
}
.footer .footer-title {
  width: 110px;
  height: 43px;
  margin-left: 20px;
  margin-top: 50px;
  font-family: getFont(Reem Kufi);
  font-weight: 400;
  font-size: 32;
  color: white;
  outline: 1px solid white;
}
.footer .footer-list {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
.footer .footer-list .footer-list__item {
  margin-bottom: 10px;
}
.footer .footer-list .footer-list__item:last-of-type {
  margin-bottom: 0px;
}
.footer .footer-list .footer-list__link {
  color: white;
}

body {
  font-family: "Roboto";
  box-sizing: border-box;
}
@media screen and (min-width: 1200px) {
  body {
    min-width: 1200px;
  }
}

* {
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.conteiner {
  width: 100%;
  min-width: 360px;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .conteiner {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    max-width: 1200px;
  }
}/*# sourceMappingURL=main.css.map */