.footer {
    background-color: #F4D2FD;
    padding-top: 20px;
    padding-bottom: 20px;

    .foot {
        display: flex;
        align-items: center;
    }

    .footer-title {
        height: 40px;
        margin-left: 20px;
        font-family: getFont('Reem-Kufi');
        font-weight: 400;
        font-size: 32;
        color: white;
        outline: 1px solid white;

    }

    .footer-list {
        display: flex;
        flex-direction: column;
        margin-left: 40px;

        @media screen and (min-width:1200px) {
            width: 800px;
            flex-direction: row;
            justify-content: space-between;
        }

        .footer-list__item {
            margin-bottom: 10px;
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }

        .footer-list__item:hover {
            cursor: pointer;
            color: #c38cd1;
        }

        .footer-list__item:last-of-type {
            margin-bottom: 0px;
        }

        .footer-list__link {
            font-family: getFont('Roboto');
            font-weight: 400;
            font-size: 14px;
            color: #fff;
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }

        .footer-list__link:hover {
            cursor: pointer;
            color: #c38cd1;
        }
    }
}