.footer {
    background-color: #F4D2FD;
    padding-top: 20px;
    padding-bottom: 20px;

    .foot {
        display: flex;
    }

    .footer-title {
        width: 110px;
        height: 43px;
        margin-left: 20px;
        margin-top: 50px;
        font-family: getFont(Reem Kufi);
        font-weight: 400;
        font-size: 32;
        color: white;
        outline: 1px solid white;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
        margin-left: 40px;

        .footer-list__item {
            margin-bottom: 10px;
        }

        .footer-list__item:last-of-type {
            margin-bottom: 0px;
        }

        .footer-list__link {
            font-family: getFont(Roboto);
            font-weight: 400;
            font-size: 14px;
            color: #fff;
        }
    }
}