.header {
    width: 100%;
    height: 60px;
    padding-top: 20px;
    background-color: transparent;
    position: absolute;

    .head {
        position: absolute;
        display: flex;
        justify-content: space-between;
    }

    .header-list {
        min-width: 1000px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

        @media screen and (max-width:1199px) {
            display: none;
        }



        .header-list__link {
            font-family: "Roboto";
            font-weight: 400;
            font-size: 20px;
            color: #fff;
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }

        .header-list__link:hover {
            cursor: pointer;
            color: #c38cd1;
        }
    }

    .header__input {
        display: none;
    }

    .text-none {
        width: 0px;
        height: 0px;
        display: block;
        color: transparent;
    }

    .label {
        margin-right: 40px;
        fill: #fff;
        position: relative;

        @media screen and (min-width:1200px) {
            display: none;
        }
    }

    .label:hover {
        cursor: pointer;
    }

    .label__button-opened {
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .label__button-closed {
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .header__input:checked~.label>.label__button-opened {
        display: none;
    }

    .header__input~.label>.label__button-closed {
        display: none;
    }

    .header__input:checked~.label>.label__button-closed {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
    }

    input[type="checkbox"]:checked~.label-list {
        display: flex;
    }

    .label-list {
        width: 100%;
        height: 365px;
        position: absolute;
        top: 60px;
        left: 0px;
        z-index: 3;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;

        .label-list__item {}

        .label-list__link {
            font-family: "Roboto";
            font-weight: 400;
            font-size: 20px;
            color: #c38cd1;
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }

        .label-list__link:hover {
            cursor: pointer;

            color: black;
        }
    }
}