.header {
    background-color: wheat;

    .header-list {
        @media screen and (max-width:767px) {
            display: none;
        }

        .header-list__item {}

        .header-list__link {}
    }

    .header__input {
        display: none;
    }

    .label {}

    .label__button-opened {}

    .label__button-closed {}

    .header__input:checked~.label>.label__button-opened {
        display: none;
    }

    .header__input~.label>.label__button-closed {
        display: none;
    }

    .header__input:checked~.label>.label__button-closed {
        display: block;
    }

    input[type="checkbox"]:checked~.label-list {
        display: flex;
    }
}