.main {
    padding-top: 50px;
    background-image: url(../images/background-1x-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;


    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image:
            url(../images/background-2x-mobile.png);
    }

    // @media screen and (min-width:768px) {
    //     background-image: url(/images/background-1x-tablet.png);

    //     @media screen and (min-device-pixel-ratio: 2),
    //     screen and (min-resolution: 192dpi),
    //     screen and (min-resolution: 2dppx) {
    //         background-image: url(/images/background-2x-tablet.png);
    //     }

    @media screen and (min-width:1200px) {
        background-image: url(../images/background-1x-d.png);

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url(../images/background-2x-d.png);
        }
    }

    // .main::before {
    //     width: 300px;
    //     height: 300px;
    //     background: url(/images/girl-1x-m.png);
    //     content: '';
    //     background-repeat: no-repeat;
    //     background-position: center;
    //     overflow: visible;
    //     display: block;

    //     @media screen and (min-device-pixel-ratio: 2),
    //     screen and (min-resolution: 192dpi),
    //     screen and (min-resolution: 2dppx) {
    //         background-image:
    //             url(/images/girl-2x-m.png);
    //     }

    //     @media screen and (min-width:768px) {
    //         background-image: url(/images/girl-1x-t.png);

    //         @media screen and (min-device-pixel-ratio: 2),
    //         screen and (min-resolution: 192dpi),
    //         screen and (min-resolution: 2dppx) {
    //             background-image: url(/images/girl-2x-t.png);
    //         }

    //         @media screen and (min-width:1200px) {
    //             background-image: url(/images/girl-1x-d.png);

    //             @media screen and (min-device-pixel-ratio: 2),
    //             screen and (min-resolution: 192dpi),
    //             screen and (min-resolution: 2dppx) {
    //                 background-image: url(/images/girl-2x-d.png);

    //             }
    //         }
    //     }
    // }

    //     .main::after {
    //         width: 100px;
    //         height: 100px;
    //         display: block;
    //         background-image: url(../images/girl-2-1x-m.png);
    //         content: '';
    //         z-index: 2;


    //         @media screen and (min-device-pixel-ratio: 2),
    //         screen and (min-resolution: 192dpi),
    //         screen and (min-resolution: 2dppx) {
    //             background-image:
    //                 url(../images/girl-2-2x-m.png);
    //         }

    //         // @media screen and (min-width:768px) {
    //         //     background-image: url(/images/girl-2-1x-t.png);

    //         //     @media screen and (min-device-pixel-ratio: 2),
    //         //     screen and (min-resolution: 192dpi),
    //         //     screen and (min-resolution: 2dppx) {
    //         //         background-image: url(/images/girl-2-2x-t.png);
    //         //     }

    //         @media screen and (min-width:1200px) {
    //             background-image: url(../images/girl-2-1x-d.png);

    //             @media screen and (min-device-pixel-ratio: 2),
    //             screen and (min-resolution: 192dpi),
    //             screen and (min-resolution: 2dppx) {
    //                 background-image: url(../images/girl-2-2x-d.png);

    //             }
    //         }
    //     }
    // }


    .main-nav {
        display: block;
        padding-bottom: 150px;

        .main-title {
            font-family: getFont(Reem Kufi);
            font-weight: 400;
            font-size: 32px;
            color: #fff;
            margin: 0;
        }

        .main-title-two {
            font-family: getFont(Roboto);
            font-weight: 600;
            font-size: 32px;
            color: #e396f6;
            margin: 0;

        }

        .main__text {
            font-family: getFont(Roboto);
            font-weight: 400;
            font-size: 14px;
            color: #fff;
            margin: 0;
            margin-top: 60px;
        }

        .main__button {
            width: 168px;
            height: 44px;
            display: block;
            border: none;
            border-radius: 33px;
            background: #cfa7d9;
            font-family: getFont(Roboto);
            font-weight: 300;
            font-size: 18px;
            color: #fff;
            margin: 0;
            margin-top: 60px;
        }

        .main__button:hover {
            cursor: pointer;
        }

        // .images__img {
        //     position: absolute;

        // }

        // .images__img:nth-of-type(1) {
        //     top: 120px;
        //     left: 0px;
        // }

        // .images__img-two {
        //     width: 357px;
        //     height: 355px;
        //     position: absolute;
        //     top: 850px;
        //     right: 0px;
        // }
    }

    .nav-about {
        padding-top: 30px;
        padding-bottom: 340px;

        .nav-about-title {
            font-family: getFont(Roboto);
            font-weight: 700;
            font-size: 36px;
            color: #c38cd1;
            margin: 0;
        }

        .nav-about__text {
            font-family: getFont(Roboto);
            font-weight: 300;
            font-size: 14px;
            color: #fff;
            margin: 0;
            margin-top: 40px;
        }
    }

    .nav-prices {
        background: #fff;
        padding-top: 10px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;


        .nav-prices-title {
            font-family: getFont(Reem Kufi);
            font-weight: 700;
            font-size: 36px;
            color: #000;
            margin-bottom: 30px;
        }

        .nav-prices-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            list-style: none;

            @media screen and (max-width:1199px) {
                flex-direction: column;
            }
        }

        .nav-prices-list__item {
            margin-bottom: 50px;
        }

        .nav-prices-list__item:last-of-type {
            margin-bottom: 0px;
        }

        .nav-prices__button {
            width: 107px;
            height: 49px;
            background: #cfa7d9;
            border: none;
            border-radius: 10px;
            font-family: getFont(Roboto);
            font-weight: 600;
            font-size: 14px;
            color: #fff;
            margin: 0;
        }

        .nav-prices__button:hover {
            cursor: pointer;
        }

        // .nav-prices__text:nth-child(1) {}

        // .nav-prices__text:nth-child(2) {}

        // .nav-prices__text:nth-child(3) {}
    }

    .nav-reviews {
        padding-top: 10px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .nav-reviews-title {
            font-family: getFont(Roboto);
            font-weight: 400;
            font-size: 36px;
            color: #fff;
            margin-bottom: 20px;
        }

        .nav-reviews-list {
            width: 296px;
            height: 109px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            list-style: none;
            margin: 0 auto;
            background-color: #e59af8;
        }

        .nav-reviews-title-two {
            font-family: getFont(Reem Kufi);
            font-weight: 400;
            font-size: 18px;
            color: #fff;
            margin-bottom: 10px;
        }


        .nav-reviews__text {
            font-family: getFont(Roboto);
            font-weight: 400;
            font-size: 14px;
            color: #fff;
            margin: 0;
        }
    }

    .nav-contacts {
        background: #fff;
        padding-top: 10px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .nav-contacts-title {
            font-family: getFont(Reem Kufi);
            font-weight: 700;
            font-size: 36px;
            color: #252020;
            margin-bottom: 10px;
        }

        .nav-contacts-list {
            width: 206px;
            height: 251px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            margin-bottom: 30px;
        }

        .nav-contacts-list__item:hover {
            cursor: pointer;
            color: #c38cd1;
        }

        .nav-contacts__link {
            font-family: getFont(Roboto);
            font-weight: 400;
            font-size: 14px;
            color: #000;
            margin: 0;
        }

        .nav-contacts__link:hover {
            cursor: pointer;
            color: #c38cd1;
        }

        // .nav-contacts__link:nth-child(1) {}

        // .nav-contacts__link:nth-child(2) {}

        // .nav-contacts__link:nth-child(3) {}

        .nav-contacts__button {
            width: 132px;
            height: 32px;
            display: block;
            border: none;
            border-radius: 44px;
            background: #c9b6de;
            font-family: getFont(Roboto);
            font-weight: 400;
            font-size: 14px;
            color: #fff;
        }
    }
}