.main {
    padding-top: 50px;
    background-image: url(../images/background-1x-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;


    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image:
            url(../images/background-2x-mobile.png);
    }

    // @media screen and (min-width:768px) {
    //     background-image: url(/images/background-1x-tablet.png);

    //     @media screen and (min-device-pixel-ratio: 2),
    //     screen and (min-resolution: 192dpi),
    //     screen and (min-resolution: 2dppx) {
    //         background-image: url(/images/background-2x-tablet.png);
    //     }

    @media screen and (min-width:1200px) {
        background-image: url(../images/background-1x-d.png);

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url(../images/background-2x-d.png);
        }
    }

    .main-nav {
        display: block;
        padding-bottom: 500px;
        position: relative;

        .main-title {
            font-family: "Reem-Kufi";
            font-weight: 400;
            font-size: 32px;
            color: #fff;
            margin: 0;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 2;

            @media screen and (min-width:1200px) {}
        }

        .main-title-two {
            font-family: getFont('Roboto');
            font-weight: 600;
            font-size: 32px;
            color: #e396f6;
            margin: 0;
            position: absolute;
            top: 35px;
            left: 0px;
            z-index: 2;
        }

        .main__text {
            font-family: getFont('Roboto');
            font-weight: 400;
            font-size: 14px;
            color: #fff;
            margin: 0;
            margin-top: 60px;
            position: absolute;
            z-index: 2;
            top: 140px;
            left: 0px;
        }

        .main__button {
            width: 168px;
            height: 44px;
            display: block;
            border: none;
            border-radius: 33px;
            background: #cfa7d9;
            font-family: getFont('Roboto');
            font-weight: 300;
            font-size: 18px;
            color: #fff;
            margin: 0;
            margin-top: 60px;
            position: absolute;
            top: 300px;
            left: 0px;
            z-index: 2;
        }

        .main__button:hover {
            cursor: pointer;
        }

        .picture-first {
            position: absolute;
            top: 0px;
            left: -15px;
        }
    }

    .nav-about {
        padding-top: 30px;
        padding-bottom: 650px;
        position: relative;

        .nav-about-title {
            font-family: getFont('Roboto');
            font-weight: 700;
            font-size: 36px;
            color: #c38cd1;
            margin: 0;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 2;
        }

        .nav-about__text {
            font-family: getFont('Roboto');
            font-weight: 300;
            font-size: 14px;
            color: #fff;
            position: absolute;
            top: 90px;
            left: 0px;
            z-index: 2;
        }

        .picture-second {
            position: absolute;
            top: 130px;
            right: -15px;
        }
    }

    .nav-prices {
        background: #fff;
        padding-top: 10px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;


        .nav-prices-title {
            font-family: getFont('Reem-Kufi');
            font-weight: 700;
            font-size: 36px;
            color: #000;
            margin-bottom: 30px;
        }

        .nav-prices-lists {
            display: flex;
        }

        .nav-prices-list {
            display: flex;
            justify-content: space-between;
            padding: 0;
            list-style: none;
            flex-direction: column;

            @media screen and (min-width:1200px) {
                margin-right: 370px;
            }
        }

        .nav-prices-list-two {
            display: none;
            padding: 0;
            list-style: none;


            @media screen and (min-width:1200px) {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
            }
        }

        .nav-prices-list__item {
            margin-bottom: 50px;

        }

        .nav-prices-list__item:last-of-type {
            margin-bottom: 0px;
        }

        .nav-prices__button {
            width: 107px;
            height: 49px;
            background: #cfa7d9;
            border: none;
            border-radius: 10px;
            font-family: getFont('Roboto');
            font-weight: 600;
            font-size: 14px;
            color: #fff;
            margin: 0;

            @media screen and (min-width:1200px) {
                width: 346px;
                height: 94px;
                font-family: getFont('Roboto');
                font-weight: 600;
                font-size: 24px;
                color: #fff;
            }
        }

        .nav-prices__button:hover {
            cursor: pointer;
        }

        // .nav-prices__text:nth-child(1) {}

        // .nav-prices__text:nth-child(2) {}

        // .nav-prices__text:nth-child(3) {}
    }

    .nav-reviews {
        padding-top: 10px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .nav-reviews-title {
            font-family: getFont('Roboto');
            font-weight: 400;
            font-size: 36px;
            color: #fff;
            margin-bottom: 20px;
        }

        .nav-reviews-list {
            width: 296px;
            height: 109px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            list-style: none;
            margin: 0 auto;
            background-color: #e59af8;
        }

        .nav-reviews-title-two {
            font-family: getFont('Reem-Kufi');
            font-weight: 400;
            font-size: 18px;
            color: #fff;
            margin-bottom: 10px;
        }


        .nav-reviews__text {
            font-family: getFont('Roboto');
            font-weight: 400;
            font-size: 14px;
            color: #fff;
            margin: 0;
        }
    }

    .nav-contacts {
        background: #fff;
        padding-top: 10px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .nav-contacts-title {
            font-family: getFont('Reem-Kufi');
            font-weight: 700;
            font-size: 36px;
            color: #252020;
            margin-bottom: 10px;
        }

        .list-both {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @media screen and (min-width:1200px) {
                flex-direction: row;
                flex-grow: 1;
            }
        }

        .list-both__item::nth-of-type(1) {
            order: 1;

            @media screen and (min-width:1200px) {
                order: 2;
            }
        }

        .list-both__item::nth-of-type(2) {
            order: 2;

            @media screen and (min-width:1200px) {
                order: 1;
            }
        }


        .nav-contacts-list {
            width: 206px;
            height: 251px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            margin-bottom: 30px;
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }

        .nav-contacts-list__item:hover {
            cursor: pointer;
            color: #c38cd1;
        }

        .nav-contacts__link {
            font-family: getFont('Roboto');
            font-weight: 400;
            font-size: 14px;
            color: #000;
            margin: 0;
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }

        .nav-contacts__link:hover {
            cursor: pointer;
            color: #c38cd1;
        }

        // .nav-contacts__link:nth-child(1) {}

        // .nav-contacts__link:nth-child(2) {}

        // .nav-contacts__link:nth-child(3) {}

        .nav-contacts__button {
            width: 132px;
            height: 32px;
            display: block;
            border: none;
            border-radius: 44px;
            margin: 0 auto;
            background: #c9b6de;
            font-family: getFont('Roboto');
            font-weight: 400;
            font-size: 14px;
            color: #fff;
            margin-bottom: 50px;
        }
    }
}