.container {
    width: 100%;
    min-width: 360px;
    padding: 0 15px;
    margin: 0 auto;

    @media screen and (max-width: 1199px) {
        max-width: 1199px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 1200px;
    }
}

.container:first-of-type {
    max-width: none;
}